.person {
  border: 1px solid rgba(0, 0, 0, .15);
  font-size: 1rem;
  display: flex;
}

.person:first-of-type {
  border-radius: 2px 2px 0 0;
}

.person:last-of-type {
  border-radius: 0 0 2px 2px;
}

.person:not(:last-of-type) {
  border-bottom-width: 0;
}

.person::after {
  display: block;
  clear: both;
  
  content: '';
}

.person:nth-child(odd) {
  background: rgba(0, 0, 0, .075);
}

.person__inner {
  width: 100%;
}

.person__photo-container img {
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
  padding: 1.5rem .375rem 1.5rem 1.5rem;
}

.person__header {
  padding: 2rem 1.5rem .75rem;
}

.person__name {
  font-size: 126%;
}

.person__title {
  font-size: 94.4%;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}

.person__body {
  padding: 1.5rem;
}

.person__body:empty {
  display: none;
}

.person__info {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.5rem 2rem;
}

.person__info > div {
  flex: 1 1 200px;
}

.person__info > div:not(:last-of-type) {
  padding-right: 1rem;
}